{% load i18n %}
{% load reporting_tags %}

<script>
	$(function() {
		$("#{{type}}_toogle-button").click(function(){
			$("#{{type}}_toogle-target").show();
			$("#{{type}}_toogle-button").hide();
			return false
		}); 
	});
</script>

{% if not visible and not invisible%}
	<p>{% trans "Sorry, no entries yet! Contribute your knowledge " %}<a href="{% url 'rate_assoc' %}">{% trans 'here' %}</a></p>
{% endif %}

<span>
	{% for assoc in visible.all %}
		{% if reverse %}
			<a href="{{ assoc.source.get_absolute_url }}" style="font-size:{{assoc.power|power_to_font_size}}em;margin-right:5px;" title="{{ assoc.power|floatformat:2 }}">
				{{ assoc.source }}
			</a>
		{% else %}
			<a href="{{ assoc.target.get_absolute_url }}" style="font-size:{{assoc.power|power_to_font_size}}em;margin-right:5px;" title="{{ assoc.power|floatformat:2 }}">
				{{ assoc.target }}
			</a>
		{% endif %}
	{% endfor %}
<span>

{% if invisible and visible %}
	<a href="#" class="color-red" id="{{type}}_toogle-button">
		{% trans "show more..." %}
	</a>
{% endif %}

<span {% if visible %}style="display:none;"{% endif %} id="{{type}}_toogle-target">
	{% for assoc in invisible.all %}
		{% if reverse %}
			<a href="{{ assoc.source.get_absolute_url }}" style="font-size:{{assoc.power|power_to_font_size}}em;margin-right:5px;" title="{{ assoc.power|floatformat:2 }}">
				{{ assoc.source }}
			</a>
		{% else %}
			<a href="{{ assoc.target.get_absolute_url }}" style="font-size:{{assoc.power|power_to_font_size}}em;margin-right:5px;" title="{{ assoc.power|floatformat:2 }}">
				{{ assoc.target }}
			</a>
		{% endif %}
	{% endfor %}
</span>