{% extends "xemanti/base.html" %}
{% load i18n %}

{% block custom-js %}
<script type="text/javascript">
	$(function() {
		$( "#accordion" ).accordion();
	});
</script>
{% endblock custom-js %}


{% block main-content %}
<div class="units-row">
	<div class="unit-centered unit-90">
		<center><h2>{{ ngram.token }}</h2></center>
	</div>
</div>

<div id="accordion">
	<h3 class="btn">{% trans "Associations"%} ({{ngram.association_outbound.count}})</h3>
	<div>
		{% for assoc in ngram.association_outbound.all %}
			<a href="{% url 'inspect_show' assoc.target.id %}">{{ assoc.target }}</a>
		{% endfor %}
	</div>
	<h3 class="btn">{% trans "Synonyms"%} ({{ngram.synonyms.count}})</h3>
	<div>
		{% for synonym in ngram.synonyms.all %}
			<a href="{% url 'inspect_show' synonym.target.id %}">{{ synonym.target }}</a>
		{% endfor %}
	</div>
	<h3 class="btn">{% trans "Antonyms"%} ({{ngram.antonyms.count}})</h3>
	<div >
		{% for antonym in ngram.antonyms.all %}
			<a href="{% url 'inspect_show' antonym.target.id %}">{{ antonym.target }}</a>
		{% endfor %}
	</div>
	<h3 class="btn">{% trans "Super Categories"%} ({{ngram.supercategories.count}})</h3>
	<div >
		{% for super in ngram.supercategories.all %}
			<a href="{% url 'inspect_show' super.target.id %}">{{ super.target }}</a>
		{% endfor %}
	</div>
	<h3 class="btn">{% trans "Sub Categories"%} ({{ngram.subcategories.count}})</h3>
	<div >
		{% for sub in ngram.subcategories.all %}
			<a href="{% url 'inspect_show' sub.target.id %}">{{ sub.target }}</a>
		{% endfor %}
	</div>
	<h3 class="btn">{% trans "Co-Occurrences"%} ({{ngram.coocurrence_outbound.count}})</h3>
	<div >
		{% for cooc in ngram.coocurrence_outbound.all %}
			<a href="{% url 'inspect_show' cooc.target.id %}">{{ cooc.target }}({{ cooc.power|floatformat:2 }})</a>
		{% endfor %}
	</div>
</div>

{% endblock main-content %}

{% block right-sidebar %}
<div class="units-row">
	<div class="unit-50">{% trans "Frequency: "%}</div>
	<div class="unit-50 label label-blue"><center>{{ngram.t_occurred}}</center></div>
</div>
<div class="units-row">
	<div class="unit-50">{% trans "Rated: "%}</div>
	<div class="unit-50 label label-blue"><center>{{ngram.t_rated}}</center></div>
</div>
<div class="units-row">
	<div class="unit-50">{% trans "Genus: "%}</div>
	<div class="unit-50 label label-blue"><center>{{ngram.genus}}</center></div>
</div>
<div class="units-row">
	<div class="unit-50">{% trans "Numerus: "%}</div>
	<div class="unit-50 label label-blue"><center>{{ngram.numerus}}</center></div>
</div>
<div class="units-row">
	<div class="unit-50">{% trans "Part of Speech: "%}</div>
	{% for pos in ngram.partofspeech.all %}
		<div class="unit-50 label label-blue">{{pos}}</div>
	{% endfor %}
</div>
<div class="units-row">
	<div class="unit-50">{% trans "Languages: "%}</div>
	{% for lang in ngram.language.all %}
		<div class="unit-50 label label-blue">{{lang}}</div>
	{% endfor %}
</div>
{% endblock right-sidebar %}
