{% extends "xemanti/base.html" %}
{% load i18n %}
{% load reporting_tags %}

{% block metadata %}
	{% if ngram %}
		<title> Xemanti - Eintrag für: {{ ngram }}</title>
		<meta content="Xemanti - Sprachtools für deine Texte. {{ ngram }} wurde assoziiert mit: {{ ngram.get_all_association_token|join:" " }}" name="description"></meta>
		<meta content="sprachtools,sprachtool,assoziation,text,texten,rhetorik,kommunikation,bedeutung,synonym,antonym,wörterbuch" name="keywords"></meta>
  	{% else %}
  		<title>Xemanti - Untersuche dein Wort</title>
			<meta content="Xemanti - Sprachtools für deine Texte. Finde Assoziationen, Synonyme, und viel mehr für deine Wörter und Texte." name="description"></meta>
			<meta content="sprachtools,sprachtool,assoziation,text,texten,rhetorik,kommunikation,bedeutung,synonym,antonym,wörterbuch" name="keywords"></meta>
  	{% endif %}	
{% endblock metadata %}


{% block custom-js %}
<script type="text/javascript">
	$(function() {
		$( "#accordion" ).accordion({
			heightStyle: "content",
			header: "h3"
		});
	});
</script>
{% endblock custom-js %}


{% block main-content %}

{% if ngram %}
<div id="left-content" class="unit-70">
{% else %}
<div id="left-content" class="unit-100">
{% endif %}

	<div class="units-row">
		<div class="unit-centered unit-90">
			<form action="." method="POST" data-ajax="false">
			{% csrf_token %}
			{% for field in form.visible_fields %}
	    		<div class="units-row">
					<div class="unit-centered unit-40 ui-widget">
						 {{ field }}
					</div>
					<div class="unit-100 supersmall">
						{{ field.help_text }}
					</div>
				</div>
			{% endfor %}
			{% for hidden in form.hidden_fields %} 
				{{ hidden }} 
			{% endfor %}
			<div class="units-row">
				<div class="unit-centered unit-40 ">
					<center><input class="" id="rate" type="submit" name="rate" value='{% trans "Inspect" %}' /></center>
				</div>
			</div>
		</form>
		</div>
	</div>

	{% if ngram %}
		<div class="units-row">
			<div class="unit-centered unit-90 border-bottom">
				<center><h2>
					{% if user.is_superuser %}
						{% load admin_urls %}
						<a href="/admin/ngramengine/ngrams/{{ngram.id}}/" target="_blank" class="supersmall">
							{{ ngram.token }}
						</a>
					{% else %}
						{{ ngram.token }}
					{% endif %}
				</h2></center>
			</div>
		</div>
		
		<div id="accordion" class="units-container">
		
			<h3 class="btn">{% trans "Associations"%}</h3>
			<div class="units-row-end" >
				<div class="unit-40 units-padding">{% render_tag_cloud ngram 'association_inbound' True %}</div>
				<div class="unit-20">
					{% include "reporting/_directional_ngram_image_partial.html" with ngram=ngram %}
				</div>
				<div class="unit-40 units-padding">{% render_tag_cloud ngram 'association_outbound' %}</div>
			</div>
			
			<h3 class="btn">{% trans "Synonyms"%}</h3>
			<div class="units-row-end" >
				<div class="unit-40 units-padding">{% render_tag_cloud ngram 'synonym_of' True %}</div>
				<div class="unit-20">
					{% include "reporting/_directional_ngram_image_partial.html" with ngram=ngram %}
				</div>
				<div class="unit-40 units-padding">{% render_tag_cloud ngram 'synonyms' %}</div>
			</div>
			
			<h3 class="btn">{% trans "Antonyms"%}</h3>
			<div class="units-row-end" >
				<div class="unit-40 units-padding">{% render_tag_cloud ngram 'antonym_of' True %}</div>
				<div class="unit-20">
					{% include "reporting/_directional_ngram_image_partial.html" with ngram=ngram %}
				</div>
				<div class="unit-40 units-padding">{% render_tag_cloud ngram 'antonyms' %}</div>
			</div>
			
			<h3 class="btn">{% trans "Super Categories"%}</h3>
			<div class="units-row-end" >
				<div class="unit-40 units-padding">{% render_tag_cloud ngram 'supercategory_of' True %}</div>
				<div class="unit-20">
					{% include "reporting/_directional_ngram_image_partial.html" with ngram=ngram %}
				</div>
				<div class="unit-40 units-padding">{% render_tag_cloud ngram 'supercategories' %}</div>
			</div>
			
			<h3 class="btn">{% trans "Sub Categories"%}</h3>
			<div class="units-row-end" >
				<div class="unit-40 units-padding">{% render_tag_cloud ngram 'subcategory_of' True %}</div>
				<div class="unit-20">
					{% include "reporting/_directional_ngram_image_partial.html" with ngram=ngram %}
				</div>
				<div class="unit-40 units-padding">{% render_tag_cloud ngram 'subcategories' %}</div>
			</div>
			
			{% if ngram.semanticdifferential %}
				<h3 class="btn">{% trans 'Attitude Dimensions' %}</h3>
				<div class="units-row-end" >
					{% load chart_tags %}
					{% chart %}
					//chart.googleapis.com/chart
						{% trans '&chxl=1:|Bad|Weak|Passive|2:|Good|Strong|Active' %}
						&chxp=1,2,1,0|2,2,1,0
						&chxr=0,-1,1|1,0,2|2,0,2
						&chxt=x,y,r
						&chbh=a
						&chs=380x220
						&cht=bhs
						&chco=4D89F9
						&chds=-1,1
						&chd=t:{{ngram.semanticdifferential.evaluation|stringformat:"f"}},{{ngram.semanticdifferential.potency|stringformat:"f"}},{{ngram.semanticdifferential.activity|stringformat:"f"}}
						&chtt=Evaluation
					{% endchart %}
				</div>
			{% endif %}
			
			{% if ngram.sensorydimensions %}
				<h3 class="btn">{% trans 'Sensory Dimensions' %}</h3>
				<div class="units-row-end" >
					{% load chart_tags %}
					{% chart %}
					//chart.googleapis.com/chart
						{% trans '&chxl=1:|no_seeing|no_hearing|no_thinking|no_touching|no_smelling|no_tasting|2:|seeing|hearing|thinking|touching|smelling|tasting' %}
						&chxp=1,5,4,3,2,1,0|2,5,4,3,2,1,0
						&chxr=0,-1,1|1,0,5|2,0,5
						&chxt=x,y,r
						&chbh=a
						&chs=380x440
						&cht=bhs
						&chco=4D89F9
						&chds=-1,1
						&chd=t:{{ngram.sensorydimensions.visual|stringformat:"f"}},{{ngram.sensorydimensions.auditory|stringformat:"f"}},{{ngram.sensorydimensions.cognition|stringformat:"f"}},{{ngram.sensorydimensions.kinesthetic|stringformat:"f"}},{{ngram.sensorydimensions.olfactory|stringformat:"f"}},{{ngram.sensorydimensions.gustatory|stringformat:"f"}}
						&chtt=Evaluation
					{% endchart %}
				</div>
			{% endif %}
			
			{% if user.is_superuser %}
				<h3 class="btn">{% trans "Co-Occurrences"%} ({{ngram.coocurrence_outbound.count}})</h3>
				<div class="units-row-end" >
					<div class="unit-40 units-padding">{% render_tag_cloud ngram 'coocurrence_inbound' True %}</div>
					<div class="unit-20">
						{% include "reporting/_directional_ngram_image_partial.html" with ngram=ngram %}
					</div>
					<div class="unit-40 units-padding">{% render_tag_cloud ngram 'coocurrence_outbound' %}</div>
				</div>
			{% endif %}
		</div>
	{% endif %}

</div>

{% if ngram %}
<div id="right-sidebar" class="unit-30">
	
	<div class="units-row">
		<div class="unit-100">
			<h4>{% trans 'Contibute your Knowledge:' %}</h4>
			<a href="{% url 'rate_assoc' ngram.token True %}" title='{% blocktrans %} Click here to add more associations to {{ ngram }} {% endblocktrans %}'> 
				<button class="btn width-100">{% trans 'Add Associations' %}</button>
			</a><br>
			<a href="{% url 'sort_ngram' ngram.token %}" title='{% blocktrans %} Click here to sort existing associations of {{ ngram }} {% endblocktrans %}'> 
				<button class="btn width-100">{% trans 'Sort Associations' %}</button>
			</a><br>
			<a href="{% url 'eval_sem_diff' ngram.token %}" title='{% blocktrans %} Click here to evaluate your attitude for {{ ngram }} {% endblocktrans %}'> 
				<button class="btn width-100">{% trans 'Evaluate for Attitude' %}</button>
			</a><br>
			<a href="{% url 'eval_sensory_dim' ngram.token %}" title='{% blocktrans %} Click here to evaluate which senses are involved for {{ ngram }} {% endblocktrans %}'> 
				<button class="btn width-100">{% trans 'Evaluate for Senses' %}</button>
			</a>
			<h4 class="text-right">{% trans '... earn Xetis!' %}</h4>
		</div>
	</div>
	
	{% comment %}
	{# Switched off - this can be later be visible, but somewhat hidden #}
	<div class="units-row">
		<div class="unit-50">{% trans "Frequency: "%}</div>
		<div class="unit-50 label label-blue"><center>{{ngram.occurrence_frequency_tag}}</center></div>
	</div>
	<div class="units-row">
		<div class="unit-50">{% trans "Rated: "%}</div>
		<div class="unit-50 label label-blue"><center>{{ngram.rating_frequency_tag}}</center></div>
	</div>
	<div class="units-row">
		<div class="unit-50">{% trans "Genus: "%}</div>
		<div class="unit-50 label label-blue"><center>{{ngram.genus}}</center></div>
	</div>
	<div class="units-row">
		<div class="unit-50">{% trans "Numerus: "%}</div>
		<div class="unit-50 label label-blue"><center>{{ngram.numerus}}</center></div>
	</div>
	<div class="units-row">
		<div class="unit-50">{% trans "Part of Speech: "%}</div>
		{% for pos in ngram.partofspeech.all %}
			<div class="unit-50 label label-blue"><center>{{pos}}</center></div>
		{% endfor %}
	</div>
	<div class="units-row">
		<div class="unit-50">{% trans "Languages: "%}</div>
		{% for lang in ngram.language.all %}
			<div class="unit-50 label label-blue"><center>{{lang}}</center></div>
		{% endfor %}
	</div>
	{% endcomment %}
</div>
{% endif %}

{% endblock main-content %}


