{% load i18n %}
<div class="units-row">
	{% for entry in entries %}
		<div class="unit-33">
			<div class="units-row-end">
	            <div class="unit-100">
	            	<h5><a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a></h5>
	            </div>
	        </div>
	        <div class="units-row-end">
	            <div class="unit-100">
	            	<p class="small" style="text-align:justify;">{{ entry.excerpt|safe|truncatewords:25 }}</p>
	            </div>
	        </div>
		</div>
	{% empty %}
		<div class="unit-33">
			 {% trans "No entries yet." %}
		</div>
	{% endfor %}
</div>