{# Standard Template Tag loading #}
{% load i18n %}
{% load dajaxice_templatetags %}
{% load zinnia_tags %}

<!DOCTYPE html> 
<html> 
	<head>
		<title>{% trans 'Xemanti' %}</title>
		
		<link rel="stylesheet" href="{{ STATIC_URL }}kube/kubeless/css/kube.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}kube/kubeless/css/master.css" />
		
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}kube/kubeless/js/kube.buttons.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}kube/kubeless/js/kube.tabs.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		
		{# Dajax JS #}
		{% dajaxice_js_import %}
		
		{# Add Google Support #}
		{% include "xemanti/analytics_tracker.html" %}
		
		<meta name="keywords" lang="de" content="text texten assoziation" />
		<meta name="description" content="Optimiere deine Texte - was assozieren Leser mit deinen Texten?" />
		<meta name="author" content="Philipp Rollinger" />
		<meta name="copyright" content="Philipp Rollinger, 2013" />
		
		{% block custom-js %}
		{% endblock custom-js %}
		
	</head> 
<body>
	<div class="wrapper">

		<header id="header">
			<h1 class="">
				<a href="{% url "home" %}" rel="external">{% trans "Xemanti" %}</a>
			</h1>
			
			<nav id="main-menu" class="nav-g">
				<ul>
					<li>
						<a href="{% url "home" %}" rel="external" title="{% trans 'Analyze your text' %}">
							{% trans "Start" %}
						</a>
					</li>
					{% if user.is_authenticated %}
						<li><a href="{% url "logout_view" %}" title="">{% trans "Logout" %}</a></li>
						<li>
							<a href="{% url "home" %}" title="">
								{{ user.username }} <div id="money-badge" class="small text-right label label-yellow color-black">{{ user.profile.balance }} Xetis</div>
							</a>
							
						</li>
					{% else %}
						<li><a href="{% url "login_view" %}" title="">{% trans "Login" %}</a> </li>
						<li><a href="{% url "registration_view" %}" title="">{% trans "Register" %}</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>
		
		{% block action-menu %}
			<nav id="action-menu" class="nav-pills nav-g width-full ">
				<ul>
					<li>
						<a href="{% url "inspect_query" %}" rel="external" title="{% trans 'Inspect a Word' %}">
							{% trans "Inspect" %}
						</a>
					</li>
					<li>
						<a href="{% url "rate_assoc" %}" rel="external" title="{% trans 'Share your Knowledge!' %}">
							{% trans "Rate" %}
						</a>
					</li>
					<li>
						<a href="/weblog/" rel="external" title="{% trans 'Blog' %}">
							{% trans "Blog" %}
						</a>
					</li>
					{% if user.is_authenticated %}
							{% if user.is_staff %}
							{% endif %}
							{% if user.is_superuser %}
								<li>
									<a href="{% url "initiate_report" %}" rel="external" title="{% trans 'Analyze your text' %}">
										{% trans "Reporting" %}
									</a>
								</li>
								<li>
									<a href="/admin/" rel="external" title="{% trans 'Administration' %}">
										{% trans "Administration" %}
									</a>
								</li>
							{% endif %}
					{% else %}
						
					{% endif %}
				</ul>
			</nav>
		{% endblock action-menu %}
		
		<div id="main" class="units-row">
			<div id="main-content" class="unit-100">
				{% block main-content %}
				
				{% endblock main-content %}
			</div>
		</div>
		
		<div id="main" class="units-row">
			<div id="main-content" class="unit-100">
				{% block blog-content %}
					{% get_featured_entries 3 %}
				{% endblock blog-content %}
			</div>
		</div>

		<footer id="footer" class="units-row">
			<div class="unit-50 small">
				<a href="{% url 'impressum' %}">
					{% blocktrans %}
						&copy; All rights reserved.
					{% endblocktrans %}
				</a>
			</div>
			<div class="unit-50 small text-right">
				<a href="{% url 'faq' %}">{% trans "FAQ" %}</a> |
				<a href="{% url 'impressum' %}">{% trans "Impressum" %}</a>
			</div>
		</footer>
	</div>
</body>
</html>
