{# Standard Template Tag loading #}
{% load i18n %}
{% load dajaxice_templatetags %}
{% load zinnia_tags %}

<!DOCTYPE html> 
<html> 
	<head>
		<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.min.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.10.3.css" />
		
		<link rel="stylesheet" href="{{ STATIC_URL }}kube/kubeless/css/kube.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}kube/kubeless/css/master.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}kube/kubeless/js/kube.buttons.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}kube/kubeless/js/kube.tabs.js"></script>
		
		{# Dajax JS #}
		{% dajaxice_js_import %}
		
		{# Add Google Support #}
		{% include "xemanti/analytics_tracker.html" %}
		
		{# Add Dynamic Metadata Support #}
		{% block metadata %}
			<title>Xemanti</title>
			<meta content="Xemanti - Sprachtools für deine Texte. Finde Assoziationen, Synonyme, und viel mehr für deine Wörter und Texte." name="description"></meta>
			<meta content="sprachtools,sprachtool,assoziation,text,texten,rhetorik,kommunikation,bedeutung,synonym,antonym,wörterbuch" name="keywords"></meta>
		{% endblock metadata %}
  		
  		{# Insane Browser Fork #}
		<script type="text/javascript">var saneBrowser = true;</script>
		<!--[if IE]>
			<script type="text/javascript">
				//The current browser is bad == IE
    			saneBrowser = false;
			</script>
		<![endif]-->

		{% block custom-js %}
		{% endblock custom-js %}
		
	</head> 
<body>
	<div class="wrapper">

		<header id="header">
			<div class="units-row-end">
				<div class="unit-30">
					<a href="{% url "home" %}" rel="external">
						<img id="logo-image" src="{{STATIC_URL}}images/design/logo_small.png">
					</a>
				</div>
				<div class="unit-70">
					<nav id="main-menu" class="nav-g">
					<ul>
						<li>
							<a href="{% url "home" %}" rel="external" title="{% trans 'Analyze your text' %}">
								{% trans "Start" %}
							</a>
						</li>
						{% if user.is_authenticated %}
							<li><a href="{% url "logout_view" %}" title="">{% trans "Logout" %}</a></li>
							<li>
								<a href="{% url "home" %}" title="">
									{{ user.username }} <div id="money-badge" class="small text-right label label-yellow color-black">{{ user.profile.balance }} Xetis</div>
								</a>
							
							</li>
						{% else %}
							<li><a href="{% url "login_view" %}" title="">{% trans "Login" %}</a> </li>
							<li><a href="{% url "registration_view" %}" title="">{% trans "Register" %}</a></li>
						{% endif %}
					</ul>
					</nav>
				</div>
			</div>
		</header>
		
		{% block action-menu %}
			<nav id="action-menu" class="nav-pills nav-g width-full ">
				<ul>
					<li>
						<a href="{% url "inspect_query" %}" rel="external" title="{% trans 'Inspect a Word' %}">
							{% trans "Inspect" %}
						</a>
					</li>
					<li>
						<a href="{% url "rate_assoc" %}" rel="external" title="{% trans 'Share your Knowledge!' %}">
							{% trans "Rate" %}
						</a>
					</li>
					<li>
						<a href="/weblog/" rel="external" title="{% trans 'Blog' %}">
							{% trans "Blog" %}
						</a>
					</li>
					{% if user.is_authenticated %}
							{% if user.is_staff %}
							{% endif %}
							{% if user.is_superuser %}
								<li>
									<a href="{% url "initiate_report" %}" rel="external" title="{% trans 'Analyze your text' %}">
										{% trans "Reporting" %}
									</a>
								</li>
								<li>
									<a href="/admin/" rel="external" title="{% trans 'Administration' %}">
										{% trans "Administration" %}
									</a>
								</li>
								<li>
									<a href="{% url "bulk_ngram_upload" %}" rel="external" title="{% trans 'Bulk Upload' %}">
										{% trans "Bulk Upload" %}
									</a>
								</li>
							{% endif %}
					{% else %}
						
					{% endif %}
				</ul>
			</nav>
		{% endblock action-menu %}
		
		<div id="main" class="units-row">
			<div id="main-content" class="unit-100">
				{% block main-content %}
				
				{% endblock main-content %}
			</div>
		</div>
		
		<div id="main" class="units-row">
			<div id="main-content" class="unit-100">
				{% block blog-content %}
					{#% get_featured_entries 3 %#}
					{% get_featured_entries 3 "zinnia/featured_entries.html" %}
				{% endblock blog-content %}
			</div>
		</div>

		<footer id="footer" class="units-row">
			<div class="unit-50 small">
				<a href="{% url 'impressum' %}">
					{% blocktrans %}
						&copy; All rights reserved.
					{% endblocktrans %}
				</a>
			</div>
			<div class="unit-50 small text-right">
				<a href="{% url 'faq' %}">{% trans "FAQ" %}</a> |
				<a href="{% url 'impressum' %}">{% trans "Impressum" %}</a>
			</div>
		</footer>
	</div>
</body>
</html>
