{# Standard Template Tag loading #}
{% load i18n %}
{% load dajaxice_templatetags %}

<!DOCTYPE html> 
<html> 
	<head>
		<title>{% trans 'Xemanti' %}</title>
		
		<link rel="stylesheet" href="{{ STATIC_URL }}kube/kubeless/css/kube.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}kube/kubeless/css/master.css" />
		
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		
		
		{# Add Google Support #}
		{% include "xemanti/analytics_tracker.html" %}
		
		<meta name="keywords" lang="de" content="text texten assoziation" />
		<meta name="description" content="Optimiere deine Texte - was assozieren Leser mit deinen Texten?" />
		<meta name="author" content="Philipp Rollinger" />
		<meta name="copyright" content="Philipp Rollinger, 2013" />
		
		{% block custom-js %}
		{% endblock custom-js %}
		
	</head> 
<body>
	<div class="wrapper">

		<header id="header">
			<h1 class="">
				<a href="{% url "home" %}" rel="external">{% trans "Xemanti" %}</a>
			</h1>
			
			<nav id="main-menu" class="nav-g">
				<ul>
					<li>
						<a href="{% url "home" %}" rel="external" title="{% trans 'Analyze your text' %}">
							{% trans "Start" %}
						</a>
					</li>
					{% if user.is_authenticated %}
						<li><a href="{% url "logout_view" %}" title="">{% trans "Logout" %}</a></li>
						<li>
							<a href="{% url "home" %}" title="">
								{{ user.get_full_name }} <div class="small text-right label label-blue">({{ user.profile.balance }}) Xetis</div>
							</a>
							
						</li>
					{% else %}
						<li><a href="{% url "login_view" %}" title="">{% trans "Login" %}</a> </li>
						<li><a href="{% url "registration_view" %}" title="">{% trans "Register" %}</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>
		
		{% block action-menu %}
			<nav id="action-menu" class="nav-pills nav-g width-full ">
				<ul>
					<li>
						<a href="{% url "home" %}" rel="external" title="{% trans 'Analyze your text' %}">
							{% trans "Reporting" %}
						</a>
					</li>
					<li>
						<a href="{% url "rate_assoc" %}" rel="external" title="{% trans 'Share your Knowledge!' %}">
							{% trans "Rating" %}
						</a>
					</li>
					{% if user.is_authenticated %}
							{% if user.is_staff %}
							
							{% endif %}
							{% if user.is_superuser %}
								<li><a href="/admin/" rel="external" title="{% trans 'Administration' %}">{% trans "Administration" %}</a></li>
							{% endif %}
					{% else %}
						
					{% endif %}
				</ul>
			</nav>
		{% endblock action-menu %}
		
		<div id="main" class="row">
			<div id="main-content" class="twothird">
				{% block main-content %}
				
				{% endblock main-content %}
			</div>
			<div id="right-sidebar" class="third">
				{% block right-sidebar %}
				
				{% endblock right-sidebar %}
			</div>
		</div>

		<footer id="footer" class="row">
			<div class="half small">
				{% blocktrans %}
					&copy; All rights reserved.
				{% endblocktrans %}
			</div>
			<div class="half small text-right">
				<a href="{% url 'faq' %}">{% trans "FAQ" %}</a> |
				<a href="{% url 'impressum' %}">{% trans "Impressum" %}</a>
			</div>
		</footer>
	</div>
</body>
</html>
