{% extends "xemanti/base.html" %}
{% load i18n %}

{% block custom-js %}
	<script>
		$(function() {
			$( "#tabs" ).tabs();
		});
	</script>
{% endblock custom-js %}



{% block main-content %}

	<div class="units-row-end" id="tabs">
		
		<div class="unit-70">
		    <section class="" id="section1">
		    	<h2>{% trans "What is Xemanti?" %}</h2>
		        {% blocktrans %}
					Xemanti is your place for a comprehensive text analysis. 
					Inspect your text and find out what others associate with the words you choose. 
					Xemanti is free - you trade your knowledge for Xemanti-Points that you can use to inspect your texts.
				{% endblocktrans %}
		    </section>
		    <section class="" id="section2">
		    	<h2>{% trans "What can I do on Xemanti.Com" %}</h2>
		        {% blocktrans %}
					I'm the collapsible content for section 2
				{% endblocktrans %}
		    </section>
		    <section class="" id="section3">
		    	<h2>{% trans "How can I analyze my texts?" %}</h2>
		        {% blocktrans %}
					I'm the collapsible content for section 2
				{% endblocktrans %}
		    </section>
	    </div>
	    <nav class="nav-tabs nav-tabs-v unit-30 noborder-reset border-left">
			<ul>
			    <li><a href="#section1">{% trans "What is Xemanti?" %}</a></li>
			    <li><a href="#section2">{% trans "What can I do on Xemanti.Com" %}</a></li>
			    <li><a href="#section3">{% trans "How can I analyze my texts?" %}</a></li>
			</ul>
		</nav>
	</div>

{% endblock main-content %}



{% block right-sidebar %}

{% endblock right-sidebar %}
