{% extends "xemanti/base.html" %}
{% load i18n %}
{% load reporting_tags %}

{% block metadata %}
	<title>Xemanti - Was sind das für Assoziationen?</title>
	<meta content="Xemanti - Sprachtools für deine Texte. Mach Xemanti noch schlauer und sortiere die Wörter in Kategorien." name="description"></meta>
	<meta content="sprachtools,sprachtool,assoziation,text,texten,rhetorik,kommunikation,bedeutung,synonym,antonym,wörterbuch" name="keywords"></meta>
{% endblock metadata %}

{% block custom-js %}
	<script type="text/javascript">
	
		$(function() {
		});
	
	</script>
{% endblock custom-js %}

{% block main-content %}
	
	<div class="units-row">
		<div id="" class="unit-60">
			<span class="btn-group" data-toggle="buttons" data-type="segmented" data-target="#id_sorting">
				<button class="btn btn-big width-100" value="not_related">
					<div class="units-row-end">
						<div class="unit-30" ><b>{{ source }}</b></div>
						<div class="unit-40" >{% trans 'is not relevant for' %}</div>
						<div class="unit-30" ><b>{{ ngram }}</b></div>
					</div>
				</button>
				<button class="btn btn-big unit-100" value="associated">
					<div class="units-row-end">
						<div class="unit-30" ><b>{{ source }}</b></div>
						<div class="unit-40" >{% trans 'is associated with' %}</div>
						<div class="unit-30" ><b>{{ ngram }}</b></div>
					</div>
				</button>
				<button class="btn btn-big unit-100" value="antonym">
					<div class="units-row-end">
						<div class="unit-30" ><b>{{ source }}</b></div>
						<div class="unit-40" >{% trans 'is opposed to' %}</div>
						<div class="unit-30" ><b>{{ ngram }}</b></div>
					</div>
				</button>
				<button class="btn btn-big unit-100" value="synonym">
					<div class="units-row-end">
						<div class="unit-30" ><b>{{ source }}</b></div>
						<div class="unit-40" >{% trans 'is synonymous to' %}</div>
						<div class="unit-30" ><b>{{ ngram }}</b></div>
					</div>
				</button>
				<button class="btn btn-big unit-100" value="supercategory">
					<div class="units-row-end">
						<div class="unit-30" ><b>{{ source }}</b></div>
						<div class="unit-40" >{% trans 'is a super category of' %}</div>
						<div class="unit-30" ><b>{{ ngram }}</b></div>
					</div>
				</button>
				<button class="btn btn-big unit-100" value="subcategory">
					<div class="units-row-end">
						<div class="unit-30" ><b>{{ source }}</b></div>
						<div class="unit-40" >{% trans 'is a sub category of' %}</div>
						<div class="unit-30" ><b>{{ ngram }}</b></div>
					</div>
				</button>
				<button class="btn btn-big unit-100" value="example">
					<div class="units-row-end">
						<div class="unit-30" ><b>{{ source }}</b></div>
						<div class="unit-40" >{% trans 'is an example of' %}</div>
						<div class="unit-30" ><b>{{ ngram }}</b></div>
					</div>
				</button>
				<button class="btn btn-big unit-100" value="attribute">
					<div class="units-row-end">
						<div class="unit-30" ><b>{{ source }}</b></div>
						<div class="unit-40" >{% trans 'is an attribute of' %}</div>
						<div class="unit-30" ><b>{{ ngram }}</b></div>
					</div>
				</button>
			</span>
		</div>
		<div id="" class="unit-40" >
            <div id="" class="units-row">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans "Rate" %}" class="btn width-100"/>
                </form>
			</div>
            <div id="" class="units-row">
                <p class="small blocktext">
                    {% blocktrans %}
                        Please sort <strong>{{ ngram }}</strong> by clicking the buttons where the containing statement
                        is true to you. If you are ready click on the 'Rate' button.<br>
                    {% endblocktrans %}
                    <a href='{{ ngram.get_absolute_url }}'>
                        {% blocktrans %} Click here if you want to go back inspecting {{ ngram }} {% endblocktrans %}
                    </a>
				</p>
			</div>
		</div>
	</div>

{% endblock main-content %}