{% extends "xemanti/base.html" %}

{% block custom-js %}
<script type="text/javascript">
	$(function() {
		$( "#id_rating" ).autocomplete({
			source: {{ rating_suggestions|safe }}
		});
	});
</script>
{% endblock custom-js %}

{% block main-content %}
<div class="main-content">
	<form action="." method="POST" data-ajax="false">
		{% csrf_token %}
		{% for field in form.visible_fields %}
			<div class="ui-widget">
    			{{ field.label }} {{ field }}<br>
    		</div>
		{% endfor %}
		{% for hidden in form.hidden_fields %} 
			{{ hidden }} 
		{% endfor %}
		<br>
		<input type="submit" name="rate" value="Submit" />
		<input type="submit" name="skip" value="Skip" />
	</form>
</div>
{% endblock %}


