{% extends "xemanti/base.html" %}
{% load i18n %}
{% load reporting_tags %}

{% block custom-js %}
<script type="text/javascript">
	 $(function() {
		$( ".draggable" ).draggable();
		$( ".droppable" ).droppable({
			drop: function( event, ui ) {
				$( this ).effect( "pulsate", {}, 500 );
				$( ui.draggable ).hide( "explode", {}, 500 );
				var source = "{{ngram.token}}";
				var target = $( ui.draggable ).text();
				var sort_container_func = $( this ).attr('id');
				Dajaxice.rating.sort_ngram(update_profile_balance,{'type':sort_container_func,'source':source,'target':target});
				Dajaxice.rating.get_next_word(show_next_word,{'ngram':'{{ngram.token}}',});
				function update_profile_balance(data){
					$( "div#money-badge" ).effect( "pulsate", {}, 500 );
					$( "div#money-badge" ).text(data + " Xetis");
				}
			}
		});
		Dajaxice.rating.get_next_word(show_next_word,{'ngram':"{{ngram.token}}",});
		function show_next_word(data){
			if (data != "None"){
				var word_to_sort = '<div class="draggable btn btn-green btn-round btn-small"><h2 class="text-centered">' + data + '</h2></div>';
				$( '#word_stack' ).append(word_to_sort);
				$( "div#word-to-sort" ).effect( "shake", {}, 1000 );
				$( ".draggable" ).draggable();
			}
		}
	});
	
</script>
{% endblock custom-js %}


{% block main-content %}
	
	<div class="units-row-end">
		<div id="" class="unit-push-40 unit-20 droppable">
			<center>
			<h2>{{ ngram }}</h2>
			</center>
		</div>
	</div>

	<div class="units-row-end">
		<div id="not_related_container" class="unit-20 droppable">
			<center>
			<img src="{{ STATIC_URL}}images/design/circle.png">
			<h4>{% trans "Not Related" %}</h4>
			</center>
		</div>
		
		
		<div class="unit-push-20 unit-20" id="word_stack">
		
		</div>
		
		<div id="association_container" class="unit-push-40 unit-20 droppable">
			<center>
			<img src="{{ STATIC_URL}}images/design/circle.png">
			<h4>{% trans "Association" %}</h4>
			</center>
		</div>
	</div>
	
	<div class="units-row-end">
		<div id="antonym_container" class="unit-push-20 unit-20 droppable">
			<center>
			<img src="{{ STATIC_URL}}images/design/circle.png">
			<h4>{% trans "Antonyms" %}</h4>
			</center>
		</div>
		<div id="synonym_container" class="unit-push-40 unit-20 droppable">
			<center>
			<img src="{{ STATIC_URL}}images/design/circle.png">
			<h4>{% trans "Synonyms" %}</h4>
			</center>
		</div>
	</div>
	
	<div class="units-row-end">
		<div id="super_category_container" class="unit-push-40 unit-20 droppable">
			<center>
			<img src="{{ STATIC_URL}}images/design/circle.png">
			<h4>{% trans "Super Category" %}</h4>
			</center>
		</div>
	</div>
	<div class="units-row-end">
		<div id="sub_category_container" class="unit-push-40 unit-20 droppable">
			<center>
			<img src="{{ STATIC_URL}}images/design/circle.png">
			<h4>{% trans "Sub Category" %}</h4>
			</center>
		</div>
		
	</div>

{% endblock main-content %}