{% extends "xemanti/base.html" %}
{% load i18n %}

{% block metadata %}
	<title>Xemanti - Erster Gedanke, bester Gedanke</title>
	<meta content="Xemanti - Sprachtools für deine Texte. Dein erster Gedanke zählt. Mach Xemanti noch schlauer und sag was dir in den Sinn kommt." name="description"></meta>
	<meta content="sprachtools,sprachtool,assoziation,text,texten,rhetorik,kommunikation,bedeutung,synonym,antonym,wörterbuch" name="keywords"></meta>
{% endblock metadata %}

{% block custom-js %}
<script type="text/javascript">
	$(function() {
		$( "#id_rating" ).autocomplete({
			source: {{ rating_suggestions|safe }},
			messages: {
				noResults: '',
				results: function() {}
			}
		});
		$( "#target_ngram" ).effect( "slide", {}, 500 );
		$( "input#rate" ).click(function() {
			$( "div#money-badge" ).effect( "pulsate", {}, 500 );
		});
	});
</script>
{% endblock custom-js %}


{% block main-content %}
<div class="units-row">
	<div class="unit-centered unit-90">
		<form action="." method="POST" data-ajax="false">
		{% csrf_token %}
		{% for field in form.visible_fields %}
    		<div class="units-row">
				<div class="unit-50 ">
					<center><h2 id="target_ngram">{{ field.label }}</h2></center>
					{% if user.is_authenticated %}
						<a href="{% url 'inspect_query' ngram.token %}" class="supersmall">
							{% trans "Inspect" %}
						</a>
						{% if user.is_superuser %}
							{% load admin_urls %}
							<br><a href="/admin/ngramengine/ngrams/{{ngram.id}}/" target="_blank" class="supersmall">
								{% trans "N-Gram Admin" %}
							</a>
						{% endif %}
					{% endif %}
				</div>
				<div class="unit-50 ui-widget">
					 {{ field }}
				</div>
				<div class="unit-100 supersmall">
					{{ field.help_text }}
				</div>
			</div>
		{% endfor %}
		{% for hidden in form.hidden_fields %} 
			{{ hidden }} 
		{% endfor %}
		<div class="units-row">
			<input class="unit-push-40 unit-30" id="rate" type="submit" name="rate" value="Associate" />
			<input class="unit-push-40 unit-30" type="submit" name="skip" value="Skip" />
		</div>
	</form>
	</div>
</div>

{% endblock main-content %}

{% block right-sidebar %}
	
{% endblock right-sidebar %}
